<div class="steps">
  <p-steps
    [model]="items"
    [readonly]="false"
    [activeIndex]="activeIndex"
    (activeIndexChange)="onActiveIndexChange($event)"
  >
  </p-steps>
  <div class="stepsContainer">
    <div class="incidentContainer" *ngIf="activeIndex === 0">
      <h1 class="title">Triage Incident Details</h1>

      <div class="fieldContainer">
        <div class="status">
          <h3>Status: {{ triageIncident.status.name }}</h3>
        </div>
        <p-dropdown
          [options]="statusCodes"
          [(ngModel)]="triageIncident.status.name"
          [filter]="true"
          placeholder="Status"
          optionLabel="name"
          optionValue="name"
        >
        </p-dropdown>
        <label for="id">Incident ID</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="triageIncident.id"
          placeholder="Incident ID"
        />
        <label for="incidentName">Incident Name</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="triageIncident.incidentName"
          placeholder="Incident Name"
        />

        <label for="siteName">Site Name</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="triageIncident.siteName"
          placeholder="Site Name"
        />

        <label for="incidentType">Incident Assigned To</label>
        <p-dropdown
          [options]="users"
          [(ngModel)]="triageIncident.assignedTo.name"
          [filter]="true"
          placeholder="Assigned To"
          optionLabel="name"
          optionValue="name"
        >
        </p-dropdown>

        <label for="incidentType">Incident Reported By</label>
        <p-dropdown
          [options]="users"
          [(ngModel)]="triageIncident.reportedBy.name"
          [filter]="true"
          placeholder="Reported By"
          optionLabel="name"
          optionValue="name"
        >
        </p-dropdown>
        <label for="incidentSummary">Incident Summary</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="triageIncident.incidentSummary"
          placeholder="Incident Summary"
        >
        </textarea>

        <label for="incidentDetails">Incident Details</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="triageIncident.incidentDetails"
          placeholder="Incident Details"
        >
        </textarea>
      </div>
    </div>
    <div class="container" *ngIf="activeIndex === 1">
      <div class="row">
        <div class="col-1">
          <div class="">
            <div class="title">Status</div>
          </div>
        </div>
        <div class="col-4">
          <div class="title">Step</div>
        </div>
        <div class="col-7">
          <div class="title">Notes</div>
        </div>
        <div class="row mb-3" *ngFor="let data of dataSource; let i = index">
          <div class="col-1">
            <div class="cell">
              <p-checkbox
                [binary]="true"
                [(ngModel)]="data.status"
                [value]="data"
              >
              </p-checkbox>
            </div>
          </div>
          <div class="col-4">
            <div class="cell">
              {{ data.step }}
            </div>
          </div>
          <div class="col-7">
            <div class="cell">
              <textarea
                class="form-control"
                rows="5"
                cols="50"
                [(ngModel)]="data.notes"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="activeIndex === 2">
      <div class="row">
        <div class="col-1">
          <div class="">
            <div class="title">Status</div>
          </div>
        </div>
        <div class="col-4">
          <div class="title">Step</div>
        </div>
        <div class="col-7">
          <div class="title">Notes</div>
        </div>
        <div class="row mb-3" *ngFor="let data of dataSource; let i = index">
          <div class="col-1">
            <div class="cell">
              <p-checkbox
                [binary]="true"
                [(ngModel)]="data.status"
                [value]="data"
              >
              </p-checkbox>
            </div>
          </div>
          <div class="col-4">
            <div class="cell">
              {{ data.step }}
            </div>
          </div>
          <div class="col-7">
            <div class="cell">
              <textarea
                class="form-control"
                rows="5"
                cols="50"
                [(ngModel)]="data.notes"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <p-button
        label="Back"
        *ngIf="activeIndex > 0"
        (onClick)="activeIndex = activeIndex - 1"
      >
      </p-button>
      <p-button
        label="Next"
        *ngIf="activeIndex < 3"
        (onClick)="activeIndex = activeIndex + 1"
      >
      </p-button>
    </div>
  </div>
</div>
