<div class="step">
  <p-steps
    [model]="items"
    [readonly]="false"
    [activeIndex]="activeIndex"
    (activeIndexChange)="onActiveIndexChange($event)"
  >
  </p-steps>
</div>
<div class="steps">
  <div class="stepsContainer">
    <div class="incidentContainer" *ngIf="activeIndex === 0">
      <h1 class="title">Triage Incident Details</h1>
      <hr />
      <div class="fieldContainer">
        <div class="status">
          <h3>Status: {{ triageIncident.status.name }}</h3>
        </div>
        <!-- <p-dropdown
          [options]="statusCodes"
          [(ngModel)]="triageIncident.status.name"
          [filter]="true"
          placeholder="Status"
          optionLabel="name"
          optionValue="name"
        >
        </p-dropdown> -->
        <div class="forms">
          <div class="row mb-2">
            <div class="col-6">
              <div class="input-c">
                <label for="id">Incident ID</label>
                <input
                  type="text"
                  pInputText
                  [(ngModel)]="triageIncident.id"
                  placeholder="Incident ID"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="input-c">
                <label for="incidentStatus">Incident Status</label>
                <input
                  type="text"
                  pInputText
                  [(ngModel)]="triageIncident.status.name"
                  placeholder="Incident Status"
                />
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-6">
              <div class="input-c">
                <label for="incidentName">Incident Name</label>
                <input
                  type="text"
                  pInputText
                  [(ngModel)]="triageIncident.incidentName"
                  placeholder="Incident Name"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="input-c">
                <label for="siteName">Site Name</label>
                <input
                  type="text"
                  pInputText
                  [(ngModel)]="triageIncident.siteName"
                  placeholder="Site Name"
                />
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-6">
              <div class="input-c">
                <label for="incidentType">Assigned To</label>
                <p-dropdown
                  [options]="users"
                  [(ngModel)]="triageIncident.assignedTo.name"
                  [filter]="true"
                  placeholder="Assigned To"
                  optionLabel="name"
                  optionValue="name"
                >
                </p-dropdown>
              </div>
            </div>
            <div class="col-6">
              <div class="input-c">
                <label for="incidentType">Reported By</label>
                <p-dropdown
                  [options]="users"
                  [(ngModel)]="triageIncident.reportedBy.name"
                  [filter]="true"
                  placeholder="Reported By"
                  optionLabel="name"
                  optionValue="name"
                >
                </p-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row mb-2">
              <div class="col-12 mb-2">
                <div class="input-c">
                  <label for="incidentSummary" class="textarea-label"
                    >Summary
                  </label>
                  <textarea
                    rows="2"
                    cols="30"
                    pInputTextarea
                    [(ngModel)]="triageIncident.incidentSummary"
                    placeholder="Incident Summary"
                    class="details-textarea"
                  >
                  </textarea>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12">
                <div class="input-c">
                  <label for="incidentDetails" class="textarea-label"
                    >Details</label
                  >
                  <textarea
                    rows="7"
                    cols="30"
                    pInputTextarea
                    [(ngModel)]="triageIncident.incidentDetails"
                    placeholder="Incident Details"
                    class="details-textarea"
                  >
                  </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="activeIndex === 1">
      <h1 class="title">Triage Investigation SOP's</h1>
      <hr />
      <div class="row">
        <div class="col-1">
          <div class="">
            <div class="subtitle">Status</div>
          </div>
        </div>
        <div class="col-4">
          <div class="subtitle">Step</div>
        </div>
        <div class="col-7">
          <div class="subtitle">Notes</div>
        </div>
        <div class="row mb-3" *ngFor="let data of dataSource; let i = index">
          <div class="col-1">
            <div class="cell">
              <p-checkbox
                [binary]="true"
                [(ngModel)]="data.status"
                [value]="data"
              >
              </p-checkbox>
            </div>
          </div>
          <div class="col-4">
            <div class="cell">
              {{ data.step }}
            </div>
          </div>
          <div class="col-7">
            <div class="cell">
              <textarea
                class="form-control"
                rows="5"
                cols="50"
                [(ngModel)]="data.notes"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="activeIndex === 2">
      <h1 class="title">Triage Fixing SOP's</h1>
      <hr />
      <div class="row">
        <div class="col-1">
          <div class="">
            <div class="subtitle">Status</div>
          </div>
        </div>
        <div class="col-4">
          <div class="subtitle">Step</div>
        </div>
        <div class="col-7">
          <div class="subtitle">Notes</div>
        </div>
        <div class="row mb-3" *ngFor="let data of dataSource; let i = index">
          <div class="col-1">
            <div class="cell">
              <p-checkbox
                [binary]="true"
                [(ngModel)]="data.status"
                [value]="data"
              >
              </p-checkbox>
            </div>
          </div>
          <div class="col-4">
            <div class="cell">
              {{ data.step }}
            </div>
          </div>
          <div class="col-7">
            <div class="cell">
              <textarea
                class="form-control"
                rows="5"
                cols="50"
                [(ngModel)]="data.notes"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixedContainer" *ngIf="activeIndex === 3">
      <h1>
        Incident ID: {{ triageIncident.id }} - {{ triageIncident.incidentName }}
        has been successfully fixed.
      </h1>
    </div>

    <div class="buttons">
      <p-button
        label="Back"
        *ngIf="activeIndex > 0 && activeIndex < 3"
        (onClick)="activeIndex = activeIndex - 1"
      >
      </p-button>
      <p-button
        label="Next"
        *ngIf="activeIndex < 3"
        (onClick)="activeIndex = activeIndex + 1"
      >
      </p-button>
    </div>
  </div>
</div>
